.textField {
  width: 90%;
  margin-bottom: 40px !important;
}
.textField > label {
  font-size: 1.5rem !important;
}
.textField input {
  height: 2em !important;
  font-size: 1.2rem !important;
}
.subscribe {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/images/subscribe.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribeText {
  border-radius: 25px;
  background-color: #ffff;
  width: 60%;
}
.subscribeText fieldset {
  border: none !important;
}

.subscribeButton {
  color: #ffff !important;
  background-color: #e68b3f !important;
  font-size: 0.75rem !important;
  text-transform: none !important;
  margin: 0 15px !important;
  border-radius: 25px !important;
  border: none !important;
}
