.loginHeader {
  height: 370px;
  background-image: url("../assets/images/login/login.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.textField {
  width: 90%;
  margin-bottom: 40px !important;
}
.textField > label {
  font-size: 1.5rem !important;
}
.textField input {
  height: 2em !important;
  font-size: 1.2rem !important;
}

.stayLogged {
  margin-left: 0 !important;
}
.stayLogged .Mui-checked {
  color: #e68b3f !important;
}

.inputBox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  flex-flow: wrap !important;
}
.select {
  margin: 15px 20px 0px 0px !important;
  width: 35% !important;
}
.select div {
  border-radius: 10px !important;
}
.select div::before {
  border-bottom: none !important;
}
.inputText {
  margin: 15px 20px 0px 0px !important;
  width: 35% !important;
}
.inputText div {
  border-radius: 10px !important;
}
.inputText div::before {
  border-bottom: none !important;
}
/*.inputText input {
  height: 2em !important;
  font-size: 1.2rem !important;
} */

.registerBox {
  width: 65% !important;
  position: relative !important;
}
.registerBox span:nth-child(2) {
  position: absolute !important;
  top: 20% !important;
  left: 20% !important;
}
.registerUserBox {
  position: relative !important;
  width: 70% !important;
  display: flex !important;
}
.registeruserImage2 {
  position: absolute !important;
  z-index: 10 !important;
  width: 60% !important;
  left: 20% !important;
  top: 15% !important;
}
