.intro {
  height: 370px;
  background-image: url("../assets/images/login/login.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.textField {
  width: 90%;
  margin-bottom: 40px !important;
}
.textField > label {
  font-size: 1.5rem !important;
}
.textField input {
  height: 2em !important;
  font-size: 1.2rem !important;
}

.stayLogged {
  margin-left: 0 !important;
}
.stayLogged .Mui-checked {
  color: #e68b3f !important;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: wrap;
}
.select {
  margin: 15px 20px 0px 0px;
  width: 35%;
}
.select div {
  border-radius: 10px;
}
.select div::before {
  border-bottom: none !important;
}
.inputText {
  margin: 15px 20px 0px 0px;
  width: 35%;
}
.inputText div {
  border-radius: 10px;
}
.inputText div::before {
  border-bottom: none !important;
}
/*.inputText input {
  height: 2em !important;
  font-size: 1.2rem !important;
} */

.registerBox {
  width: 65%;
  position: relative;
}
.registerBox span:nth-child(2) {
  position: absolute !important;
  top: 20%;
  left: 20%;
}
.registerUserBox {
  position: relative;
  width: 70%;
  display: flex;
}
.registeruserImage2 {
  position: absolute;
  z-index: 10;
  width: 60%;
  left: 20%;
  top: 15%;
}
