.titleBox {
  position: relative;
  background-color: #fae7d7;
}
.titleBox::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  background: #fae7d7;
  bottom: -28px;
  left: 45%;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
@media (max-width: 700px) {
  .titleBox::before {
    width: 35px;
    height: 35px;
    bottom: -18px;
    left: 43%;
  }
}
